Source: messaging-app
Section: x11
Priority: optional
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               intltool,
               extra-cmake-modules,
               libnotify-dev,
               python3-flake8 (>= 2.2.2-1ubuntu4) | python3-flake8:native,
               pkg-config,
               python3:any,
               qml-module-qttest,
               qtbase5-dev (>= 5.0),
               qtdeclarative5-dev (>= 5.0),
               qtdeclarative5-dev-tools,
               qtdeclarative5-gsettings1.0,
               qtdeclarative5-ubuntu-ui-toolkit-plugin,
               qtdeclarative5-ubuntu-history0.1,
               qtdeclarative5-ubuntu-telephony-phonenumber0.1,
               qtdeclarative5-ubuntu-telephony0.1 <!cross>  | qtdeclarative5-ubuntu-telephony-plugin <!cross>,
               qtmultimedia5-dev,
               qml-module-qt-labs-settings,
               qml-module-qt-labs-folderlistmodel,
               qml-module-qtmultimedia,
               qml-module-qtcontacts,
               qml-module-qtquick2,
               qml-module-qttest,
               qtpim5-dev,
               xvfb,
               xauth,
Standards-Version: 3.9.8
Homepage: https://github.com/gemian/messaging-app
Vcs-Git: https://github.com/gemian/messaging-app.git

Package: messaging-app
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libqt5multimedia5,
         gsettings-ubuntu-schemas,
         suru-icon-theme,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
         qtdeclarative5-ubuntu-telephony-phonenumber0.1,
         qtdeclarative5-ubuntu-history0.1 | qtdeclarative5-ubuntu-history-plugin,
         qtdeclarative5-ubuntu-telephony0.1 | qtdeclarative5-ubuntu-telephony-plugin,
         qtdeclarative5-gsettings1.0,
         qml-module-ubuntu-components,
         qml-module-qt-labs-folderlistmodel,
         qml-module-qt-labs-settings,
         qml-module-qtmultimedia,
         qml-module-qtcontacts,
         qml-module-qtquick2,
         qml-module-ofono,
         ttf-ancient-fonts-symbola,
Description: messaging application for Ubuntu
 An application to send and receive messages.

Package: messaging-app-autopilot
Architecture: all
Section: debug
Depends: ${misc:Depends},
         address-book-app-autopilot,
         autopilot-qt5,
         libqt5test5,
         libqt5widgets5,
         messaging-app (>= ${binary:Version}),
         python3-autopilot,
         python3-dbusmock,
         ubuntu-ui-toolkit-autopilot,
         ofono-phonesim-autostart,
         ubuntu-keyboard-autopilot
Description: autopilot tests for messaging-app
 This package contains the autopilot tests for messaging-app
 .
 These tests run against the ofono phone simulator (pulled in through
 ofono-phonesim-autostart).
