#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export QT_SELECT=qt5

export DEB_BUILD_HARDENING=1
export DPKG_GENSYMBOLS_CHECK_LEVEL=4

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)
# Skip tests on the archs they are known to be flaky with current configuration
# Ref.: https://bugs.launchpad.net/ubuntu/+source/mesa/+bug/1585942
testskip_architectures := arm64 amd64 s390x powerpc

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
export DEB_BUILD_PROFILES := cross
endif

%:
	dh $@ --parallel --fail-missing

override_dh_install:
	# Remove private stuff
	rm -rfv debian/tmp/usr/lib/python3/dist-packages/messaging_app/emulators.py
	rm -rfv debian/tmp/usr/lib/python3/dist-packages/messaging_app/__init__.py
	rm -rfv debian/tmp/usr/lib/python3/dist-packages/messaging_app/fixture_setup.py
	rm -rfv debian/tmp/usr/lib/python3/dist-packages/messaging_app/helpers.py
	rm -rfv debian/tmp/usr/lib/python3/dist-packages/messaging_app/testdata/history.sqlite
	rm -rfv debian/tmp/usr/lib/python3/dist-packages/messaging_app/testdata/vcard.vcf
	rm -rfv debian/tmp/usr/lib/python3/dist-packages/messaging_app/tests/__init__.py
	rm -rfv debian/tmp/usr/lib/python3/dist-packages/messaging_app/tests/test_messaging.py

	dh_install --fail-missing


override_dh_auto_test:
ifneq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), $(testskip_architectures)))
	python3 -m flake8 tests/autopilot/messaging_app/
ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
	cd obj-$(DEB_HOST_GNU_TYPE); ctest -V
endif
endif

